.blank-row{
    height:12vw;
}
.my-row{
  margin-right: 5vw;
  margin-bottom: 10vw;
}

.event-row{
  margin-bottom: 10vw;
  border-style: solid black;
}

.my-container{
    min-height: 100%;
    background-image: "images/mcgregor.jpg";
  }

  .bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}