{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Background Image -->
<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({% static "images/octagon_image.jpg"%})">
<a href="/"><h2 class="text-success">Home</h2></a>
<!-- Upcoming Events and Stats -->
{% for event in futureEvent %}
    <div class="row justify-content-center my-row">
        <div class="col-lg-12 event-col" align="center">
            <h1>{{ event.event_name }}</h1>
        </div>
        <div class = "col-lg-4" align="center">
            <h1>Expected Returns: <b>{{ event.expected_returns|floatformat }}%</b> </h1>
        </div>
        <div class = "col-lg-4" align="center">
            <h1> Predictions for {{ event.num_fights_predicted }} out of {{ event.num_total_fights }} fights</h1>
        </div>
    </div>
    {% endfor %}

    <!-- Fight predictions -->
    {% for fight in eventFights %}
    <div class="row justify-content-center" align="center">
        <div class="row justify-content-center fight-row" align="center">
        <!-- 1 red fighter won, 0 blue fighter won and 0.5 was a draw.-->
            {% if fight.predicted_winner == 1 %}
            <div class="col-lg-4 win-col">
            <p class="text-success"><b>Predicted Winner</b></p>
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
            {% elif fight.predicted_winner == 0 %}
            <div class="col-lg-4 event-col">
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
             {% elif fight.predicted_winner == 0.5 %}
            <div class="col-lg-4 draw-col">
            <p class="text-warning"><b>Predicted Draw</b></p>
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
             {% else %}
            <div class="col-lg-4 event-col">
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
            {% endif %}
            <div class="col-lg-4 event-col">
                <h2> vs </h2>
            </div>
            <!-- if statement to display who the predicted winner is-->
            {% if fight.predicted_winner == 0 %}
            <div class="col-lg-4 win-col">
            <p class="text-success"><b>Predicted Winner</b> </p>
                <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p> {{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% elif fight.predicted_winner == 1 %}
                <div class="col-lg-4 event-col">
                    <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even </h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% elif fight.predicted_winner == 0.5 %}
                <div class="col-lg-4 draw-col">
                <p class="text-warning"><b>Predicted Draw</b></p>
                    <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even </h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% else %}
               <div class="col-lg-4 event-col">
                <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even </h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% endif %}
            <div class="col-lg-12" align="center">
             <!-- if statement to show  -->
             {% if fight.prediction_made == False %}
                <div class="even"><h4>Predictions will be made after the weigh ins !</h4></div>
            {% endif %}
            </div>
            <div class="col-lg" align="left">
                <p>Expected Returns: {{fight.expected_return|floatformat}}</p>
            </div>
            <div class="col-lg" align="right">
                <p>Why?</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
