  
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({% static "images/octagon_image.jpg"%})">
    <div class="row justify-content-center my-row">
        <div class="col-lg-12 event-col" align="center">
            <h1>{{ pastEvent.event_name }}</h1>
            </div>
            <div class = "col-lg-3" align="center">
                <h1>Accuracy: <b>{{ pastEvent.accuracy|floatformat }}%</b></h1>
            </div>
            <div class = "col-lg-3" align="center">
                <h1>Return on Investment: <b>{{ pastEvent.ROI|floatformat }}%</b></h1>
            </div>
            <div class = "col-lg-3" align="center">
                <h1> Predictions for {{ pastEvent.num_fights_predicted }} out of {{ event.num_total_fights }} fights</h1>
            </div>
        </div>
          <!-- Fight predictions -->
    {% for fight in eventFights %}
    <div class="row justify-content-center" align="center">
     {% if fight.predicted_winner == fight.winner %}
        <div class="row justify-content-center win-row" align="center">
        <!-- 1 red fighter won, 0 blue fighter won and 0.5 was a draw.-->
            {% if fight.winner == 1 %}
            <div class="col-lg-4 win-col">
            <p class="text-success"><b>Winner</b></p>
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
            {% else %}
            <div class="col-lg-4 event-col">
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
            {% endif %}
            <div class="col-lg-4 event-col">
                <h2> vs </h2>
            </div>
            <!-- if statement to display who the winner is-->
            {% if fight.winner == 0 %}
            <div class="col-lg-4 win-col">
            <p class="text-success"><b>Winner</b> </p>
                <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p> {{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% else %}
                <div class="col-lg-4 event-col">
                    <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even </h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% endif %}
            <div class="col-lg-12" align="center">
                <h4>✔</h4>
            </div>
            <div class="col-lg" align="left">
                <p>Return on Investment: {{fight.ROI|floatformat}}%</p>
            </div>
            <div class="col-lg" align="right">
                <p>Why?</p>
            </div>
        </div>
    </div>

    <!-- If the prediction was incorrect -->
    {% elif fight.predicted_winner != fight.winner %}
            <div class="row justify-content-center lose-row" align="center">
        <!-- 1 red fighter won, 0 blue fighter won and 0.5 was a draw.-->
            {% if fight.winner == 1 %}
            <div class="col-lg-4 win-col">
            <p class="text-success"><b>Winner</b></p>
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
            {% else %}
            <div class="col-lg-4 event-col">
                <h2>{{fight.red_fighter_name}}</h2>
                    <!-- Colorizing -->
                {% if fight.blue_fighter_odds < fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.red_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.red_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.red_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.red_fighter_pred}} % chance of winning</p>
            </div>
            {% endif %}
            <div class="col-lg-4 event-col">
                <h2> vs </h2>
            </div>
            <!-- if statement to display who the predicted winner is-->
            {% if fight.winner == 0 %}
            <div class="col-lg-4 win-col">
            <p class="text-success"><b>Winner</b> </p>
                <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even</h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p> {{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% else %}
                <div class="col-lg-4 event-col">
                    <h2>{{fight.blue_fighter_name}}</h2>
                <!-- Colorizing -->
                {% if fight.blue_fighter_odds > fight.red_fighter_odds%}
                    <div class="favourite"><h4>{{fight.blue_fighter_odds}} Favourite</h4></div>
                {% elif fight.blue_fighter_odds == fight.red_fighter_odds%}
                    <div class="even"><h4>{{fight.blue_fighter_odds}} Even </h4></div>
                {% else %} 
                    <div class="underdog"><h4>{{fight.blue_fighter_odds}} Underdog</h4></div>
                {% endif %}
                    <p>{{fight.blue_fighter_pred}}% chance of winning</p>
            </div>
            {% endif %}
            <div class="col-lg-12" align="center">
             <!-- if statement to show  -->
                    <h4 class="text-danger">X</h4>
            </div>
            <div class="col-lg" align="left">
                <p>Return on Investment: {{fight.ROI|floatformat}}%</p>
            </div>
            <div class="col-lg" align="right">
                <p>Why?</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock content %}