{% extends "base.html" %}
{% load static %}
{% block content %} 

{% load crispy_forms_tags %}         
<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({% static "images/ufc_octagon.jpg"%})">

<!--Register--> 
<div class="login">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-success" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a class="text-success" href="/login">login</a> instead.</p>
</div>

{% endblock %}